
## main folder

# PPT Files
Vax_model*


## Vaccination_model_1 folder

# Folders to ignore
/Vaccination_model/Data/
/Vaccination_model/Figures/
/Vaccination_model/Results/

# Old Stan files

2stage_LFM_non_centered_Vax_log_lik.stan
2stage_LFM_non_centered_Vax_no_intercept.stan
2stage_LFM_non_centered_Vax_no_scaling.stan


# R Files

.RData
.RDataTmp
.RDataTmp1
.Rhistory
.Rproj.user
Vaccination_model.Rproj

# Data Files

data_model_for_plots.Rds