
## main folder

# PPT Files
Vax_model*


## Vaccination_model_1 folder

# Folders to ignore
/Vaccination_model_1/Figures/
/Vaccination_model_1/Results/

# R Files

.RData
.RDataTmp
.RDataTmp1
.Rhistory
.Rproj.user
Vaccination_model_1.Rproj

# Data Files

data_model_for_plots.Rds

UK_hotspot_Rt_estimates.csv
rtm_incoming_vaccination_20211116-173218-f36a1245_vacc_coverage_ltla.csv
.project